
`timescale 1ns / 1ns

module test;


reg  CK, CLR;



Ex05 top(CK, CLR); 
 

`ifdef verilog

 //please enter any additional verilog stimulus in the /home/student/s1260054/CadenceComparch2020/Ex05_run1/testfixture.verilog file
`include "/home/student/s1260054/CadenceComparch2020/Ex05_run1/testfixture.verilog"

`endif

endmodule 
